%p
  If you need (or want) to contact me I can be reached at the following places:

%ul
  %li
    %a{:href => 'http://twitter.com/flexd'} Twitter
  %li
    Email @ web ÆT flexd DØT net (you must decode!?)
  %li
    I'm also available on IRC under the nick 'flexd' on Freenode and EFnet. :-)

