%h1
  News
%p
  If something breaks go 
  %a{:href=>'http://forums.civfanatics.com/showthread.php?t=402101'} here. 
  %br
  I have just added pagination and commenting to replays. The server is currently experiencing a yet undiagnosed hardware error i believe might be disk(s). It's a very old machine that even has IDE disks. Hoping to fix it somehow. 
  
  I might be getting a dual xeon box with 4GB ram from a friend. That'll do eh? :D
  %br
  I'm available on twitter, 
  %a{:href=> 'http://twitter.com/flexd'} here
  if you want to get a hold of me. I also hang out on irc.freenode.net #evecentral
%p Simply upload a replay of a finished civilization 5 game and a HTML page will be generated for your replay :-)
%form{:action => '/upload', :enctype => 'multipart/form-data', :method => 'POST'}
  %p<
    Replay description/name to be identified with in links.
    %input{:type => 'text',:id => 'description', :name => 'description'}
  %p<
    Replay file: 
    %input{:type => 'file',:id => 'file', :name => 'file'}
  %p<
    Optional map file: 
    %input{:type => 'file',:id => 'mapfile', :name => 'mapfile'}
  %p<
    %input{:type => 'submit', :value => 'Upload'}
