%h1
  News
%p
  If something breaks go 
  %a{:href=>'http://forums.civfanatics.com/showthread.php?t=402101'} here. 
  I have just added pagination and commenting to replays, for now the replays are in reverse order sorry. I'm working on sorting this :-)
  %a{:href=> 'http://twitter.com/flexd'} Find me on twitter.  
%p Simply upload a replay of a finished civilization 5 game and a HTML page will be generated for your replay :-)
%form{:action => '/upload', :enctype => 'multipart/form-data', :method => 'POST'}
  %p<
    Replay description/name to be identified with in links.
    %input{:type => 'text',:id => 'description', :name => 'description'}
  %p<
    Replay file: 
    %input{:type => 'file',:id => 'file', :name => 'file'}
  %p<
    Optional map file: 
    %input{:type => 'file',:id => 'mapfile', :name => 'mapfile'}
  %p<
    %input{:type => 'submit', :value => 'Upload'}
