%p Simply upload a replay of a finished civilization 5 game and a HTML page will be generated for your replay :-)
%form{:action => '/upload', :enctype => 'multipart/form-data', :method => 'POST'}
  %p<
    Replay description/name to be identified with in links.
    %input{:type => 'text',:id => 'description', :name => 'description'}
  %p<
    Replay file: 
    %input{:type => 'file',:id => 'file', :name => 'file'}
  %p<
    Optional map file: 
    %input{:type => 'file',:id => 'mapfile', :name => 'mapfile'}
  %p<
    %input{:type => 'submit', :value => 'Upload'}