%p<
  = @replay.description
  %br
  - if @replay.generated then
    - cache_fragment(@replay.id) do
      = File.new(@replay.replay.path).read()
  - else
    Replay not generated yet or there was some kind of error. (If this is not here after a few minutes tops its safe to say it was probably an error.)
    %a{:href=>'http://forums.civfanatics.com/showthread.php?t=402101'} If something breaks go here.

    
