%p<
  = @replay.description
  %br
  - if not @replay.replay_filename then
    Replay not generated yet, reload in a bit!
  - else
    - cache_fragment(@replay.id) do
      = File.new(@replay.replay.path).read()