- if not @replay.nil? then
  %p<
    = @replay.description
    %br
      - if not @replay.replay_filename then
        Replay not generated yet, reload in a bit!
      - else
        = File.new(@replay.replay.path).read()
- else
  %p There is no such replay, are you silly? :-(
  
